<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Weather Scope </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Area Weather Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Enter City Name</ion-label>
    <ion-input
      type="text"
      placeholder="e.g., Johannesburg"
      [(ngModel)]="searchCity"
      (keyup.enter)="searchWeather()"
    ></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="searchWeather()">Search</ion-button>

  <hr />

  <h2>Current Weather</h2>
  <div *ngIf="!currentWeather && !isLoading && !errorMessage">
    <p>Enter a city above to see the weather.</p>
  </div>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <ion-card *ngIf="currentWeather && !isLoading">
    <ion-card-header>
      <ion-card-title>{{ currentWeather.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Temperature: {{ currentWeather.main.temp }} °C</p>
      <p>Condition: {{ currentWeather.weather[0].description }}</p>
      <p>Wind: {{ currentWeather.wind.speed }} m/s</p>
      <ion-button fill="outline" (click)="saveFavorite()"
        >Save to Favorites</ion-button
      >
    </ion-card-content>
  </ion-card>

  <div *ngIf="errorMessage && !isLoading">
    <p style="color: red">Error: {{ errorMessage }}</p>
  </div>
  <hr />

  <h2>Favorites</h2>
  <p *ngIf="isLoadingFavorites">Loading favorite weather...</p>
  <ion-list *ngIf="favorites.length > 0 && !isLoadingFavorites">
    <ion-item *ngFor="let fav of favorites" detail="false">
      <ion-label>
        <h3>{{ fav.name }}</h3>
        <p *ngIf="fav.weather">
          {{ fav.weather.main.temp }} °C, {{ fav.weather.weather[0].description
          }}
        </p>
        <p *ngIf="!fav.weather && !isLoadingFavorites">Loading weather...</p>
      </ion-label>
      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        (click)="removeFavorite(fav.name, $event)"
      >
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="favorites.length === 0 && !isLoadingFavorites">
    <p>No favorite locations saved yet.</p>
  </div>
</ion-content>
